:root.dark-theme {
    --primary-color: rgb(24, 27, 58);
    --border-color: rgb(245, 235, 235);
    --font-color: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}

html, body {
    height: 100%;
}

body {
    grid-template-rows: max-content 1fr;
    background-color: var(--primary-color);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.bold {
    font-weight: bold
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

header {
    font-size: 2rem;
    padding: 24px 48px;
    border-bottom: 1px solid var(--border-color);
}

header > .actions {
    gap: 24px;
}

header > .actions img {
    width: 40px;
    height: auto;
}

a {
    text-decoration: none;
}

button, .book {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--primary-color);
}

button {
    padding: 0.5rem 1rem;
}

main {
    padding: 5% 10%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 320px;
    gap: 32px;
}

.book {
    flex-direction: column;
}

.book > .info {
    gap: 8px;
    overflow-x: hidden;
    padding: 10%;
    border-top: 1px solid var(--border-color);
}

.book > .info > span{
    gap: 8px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.features {
    top: 8px;
    right: 8px;
    gap: 4px;
    opacity: 0;
}

.book > .features > button {
    width: 32px;
    height: 32px;
}

.center-items {
    align-items: center;
    justify-content: center;
}

#delete:hover {
    background-color: red;
}

#edit:hover {
    background-color: orange;
}

#read-status.not-read:hover {
    background-color: red;
}

#read-status.read:hover {
    background-color: green;
}

.book > .cover {
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    flex-grow: 1;
}

.visible {
    opacity: 1;
}