:root.dark {
    --primary-color: rgb(24, 27, 58);
    --border-color: rgb(245, 235, 235);
    --font-color: rgb(255, 255, 255);
    --shadow-color: rgba(255, 255, 255, 0.5);
}

:root.light {
    --primary-color: rgb(245, 216, 178);
    --border-color: rgb(163, 131, 84);
    --font-color: black;
    --shadow-color: rgba(0, 0, 0, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}

html, body {
    height: 100%;
}

body {
    grid-template-rows: max-content 1fr;
    background-color: var(--primary-color);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.bold {
    font-weight: bold
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

header {
    font-size: 2rem;
    padding: 24px 48px;
    border-bottom: 1px solid var(--border-color);
}

header > .actions {
    gap: 24px;
}

header > .actions img {
    width: 40px;
    height: auto;
}

a {
    text-decoration: none;
}

button, .book, dialog, input[type="submit"], input[type="text"], input[type="number"] {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 3px 2px 3px 0px var(--shadow-color)
}

button, input[type="submit"] {
    padding: 0.5rem 1rem;
}

button:hover, input[type="submit"]:hover {
    filter: brightness(0.8);
}

main {
    padding: 5% 10%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 320px;
    gap: 32px;
}

.book > .info {
    gap: 8px;
    overflow-x: hidden;
    padding: 10%;
    border-top: 1px solid var(--border-color);
}

.book > .info > span {
    gap: 8px;
}

svg {
    overflow: visible;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.features {
    top: 8px;
    right: 8px;
    gap: 4px;
    opacity: 0;
}

.book > .features > button {
    width: 32px;
    height: 32px;
}

.center-items {
    align-items: center;
    justify-content: center;
}

.delete:hover {
    background-color: red;
}

.read-status.not-read:hover {
    background-color: blue;
}

.read-status:hover {
    background-color: green;
}

.book > .cover {
    height: 50%;
    flex-grow: 1;
}

.book > .cover, .book > .cover > * {
    border-radius: 10px 10px 0 0;
}

.book > .cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visible {
    opacity: 1;
}

.not-read-icon {
    display: none;
}

.read-status.not-read > .read-icon {
    display: none;
}

.read-status.not-read > .not-read-icon {
    display: block;
}

dialog[open] {
    position: fixed;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

dialog > .wrapper {
    gap: 12px;
}

#close-modal {
    border: none;
    box-shadow: none;
    border-radius: 50%;
    height: fit-content;
    aspect-ratio: 1/1;
    align-self: baseline;
}

#close-modal:hover, .book > .features > button:hover {
    filter: none;
}

dialog > .wrapper > .left {
    gap: 8px;
    padding: 24px;
}

form > .required-inputs > div.input > label::after,
form > .required-inputs > fieldset.input > legend::after {
    content: " *";
    color: red;
}

input[type="text"], input[type="number"] {
    padding: 8px;
}

form {
    gap: 16px;
}

div.input {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.required-inputs {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 24px;
    row-gap: 12px;
}

fieldset > div {
    justify-content: space-around;
    height: 100%;
}

fieldset {
    border: none;
}

input[type="submit"] {
    width: fit-content;
}